# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml 'ipset-blacklist/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('ipset:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.ipset.update(os_family_map) %}

{## Merge in iptables:lookup pillar ##}
{% set ipset = salt['pillar.get'](
        'ipset',
        default=default_settings.ipset,
        merge=True
    )
%}
